{% extends 'base.html' %}
{% block content %}
<h3>리뷰분석</h3>
<div id="error"></div>
<!-- 기간설정 - 메뉴별 별점주문수추이분석(line plot) 1주일 - 남녀메뉴별 별점 주문수 분석(bar plot + pie) - 나이대별 메뉴분석(나이대 x축, 메뉴별로 bar y축, 주문수 pieplot) -->
<form method="post" onsubmit="return false;">
    {% csrf_token %}
    <!-- 기간설정 -->
    <div>
        <label for="startdate">시작기간</label>
        <input type="date" name="startdate" id="startdate" value="{{ form.startdate.value|default_if_none:'' }}">
    </div>
    <div>
        <label for="enddate">종료기간</label>
        <input type="date" name="enddate" id="enddate" value="{{ form.enddate.value|default_if_none:'' }}">
    </div>
    <!-- 분석타입 설정 -->
    <div>
        <label>분석타입</label>
        <input type="radio" id="total" name="analysis_type" value="total" checked>
        <label for="total">통합분석</label>
        <input type="radio" id="gender" name="analysis_type" value="gender">
        <label for="gender">성별분석</label>
        <input type="radio" id="age" name="analysis_type" value="age">
        <label for="age">나이별분석</label>
    </div>
    <button type="submit" id="submit">분석하기</button>
</form>
<h3>차트</h3>
<canvas id="chart"></canvas>
{% load static %}
<script src="https://code.jquery.com/jquery-3.6.1.js" integrity="sha256-3zlB5s2uwoUzrXK3BT7AX3FyvojsraNFxCc2vC/7pNI=" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.9.1/chart.js" integrity="sha512-d6nObkPJgV791iTGuBoVC9Aa2iecqzJRE0Jiqvk85BhLHAPhWqkuBiQb1xz2jvuHNqHLYoN3ymPfpiB1o+Zgpw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="{% static 'analysis/chart.js' %}" type="module"></script>
{% endblock %}