<div class="container">
  <nav class="navbar navbar-expand">
      <a class="navbar-brand p-2" href="{% url 'main:main' %}">FoodReview</a>
      <div class="container-fluid">
          <ul class="navbar-nav me-auto">
              <li class="nav-item"><a class="nav-link active" href="{% url 'main:menu' %}">메뉴</a></li>
              <li class="nav-item"><a class="nav-link active" href="{% url 'main:review_display' %}">리뷰</a></li>
              <li class="nav-item"><a class="nav-link active" href="{% url 'main:review_create' %}">리뷰작성</a></li>
              <li class="nav-item"><a class="nav-link active" href="{% url 'analysis:review_analysis' %}">리뷰분석</a></li>
          </ul>
          <ul class="navbar-nav">
            {% if user.is_authenticated %}
            <li class="nav-item"><span class="nav-link active">{{ user.username }}님 환영합니다.</span></li>
            <li class="nav-item"><a class="nav-link active" href="{% url 'common:logout' %}">로그아웃</a></li>
            {% else %}
            <li class="nav-item"><a class="nav-link active" href="{% url 'common:login' %}">로그인</a></li>
            <li class="nav-item"><a class="nav-link active" href="{% url 'common:signup' %}">회원가입</a></li>
            {% endif %}
          </ul>
      </div>
  </nav>
</div>