<h1>navigation bar</h1>
<ul>
    <li><a href="{% url 'main:main' %}">MainPage</a></li>
    <li><a href="{% url 'main:menu' %}">메뉴보기</a></li>
    <li><a href="{% url 'main:review_display' %}">리뷰보기</a></li>
    <li><a href="{% url 'main:review_create' %}">리뷰작성</a></li>
    <li><a>리뷰분석</a></li>
    {% if user.is_authenticated %}
    <li><a href="{% url 'common:logout' %}">로그아웃</a></li>
    {% else %}
    <li><a href="{% url 'common:login' %}">로그인</a></li>
    <li><a href="{% url 'common:signup' %}">회원가입</a></li>
    {% endif %}
</ul>